/* GLOBAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* LAYOUT */

body,
.grid-container,
.grid-input,
.slider-display,
.slider-controls,
.button-container {
  display: flex;
}

.slider-controls,
.grid-input {
  flex-direction: column;
}

body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  height: 100svh;
  background: #00b5ff;
  background: linear-gradient(
    135deg,
    rgba(0, 181, 255, 1) 0%,
    rgba(0, 241, 255, 1) 100%
  );

  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 2rem;
  color: black;

  overflow: hidden;
}

.grid-container {
  box-sizing: content-box;

  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 0px;

  width: min(800px, 90vw);
  height: min(800px, 90vw);
}

.grid-input {
  align-items: center;
  gap: 5px;

  margin: 5px;
}

.slider-controls {
  align-items: center;

  width: 20rem;
}

.slider-display {
  align-items: flex-end;
  justify-content: space-around;
  gap: 8px;

  margin-bottom: 8px;
  width: 20rem;
}

.button-container {
  gap: 10px;
}

/* COMPONENTS */

.grid-item {
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 4px 4px 0px 0px black;
  background-color: white;

  user-select: none;
}

button > * {
  pointer-events: none;
}

button,
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;
  width: 3rem;
  border: 2px solid black;
  border-radius: 6px;
  background: rgb(255, 255, 123);
  box-shadow: 4px 4px 0px 0px black;

  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 1.5rem;
}

#color-input {
  background: none;
  border: none;
  appearance: none;
}

#color-input::-webkit-color-swatch {
  border: 2px solid black;
  border-radius: 3px;
}

#color-input::-moz-color-swatch {
  border: 2px solid black;
  border-radius: 3px;
}

@media (hover: hover) {
  button:hover,
  .toggle:hover,
  label:hover {
    scale: 1.05;
    cursor: pointer;
  }

  #color-input:hover {
    background: none;
    border: none;
  }
}

.toggle {
  width: 8rem;
  box-sizing: border-box;

  color: black;

  user-select: none;
}

.toggle.off {
  background: white;
}

label.toggle {
  gap: 5px;

  width: 8rem;
  padding: 10px;
}

.icon {
  width: 3rem;
  height: 3rem;

  font-size: 2rem;
}

.slider-controls .icon {
  background-color: white;
}

button:active,
.toggle:active,
a:active {
  scale: 1.1;
}

.signature {
  margin-top: 1rem;

  font-size: 1.5rem;
  text-align: center;
}

.signature a {
  text-decoration: none;
  color: rgb(0, 13, 255);
}

@media (max-width: 426px) {
  .grid-input {
    scale: 0.7;
  }

  body {
    gap: 3px;
  }

  .grid-item {
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.755);
    border-radius: 3px;
    border: 1px solid black;
  }
}
