* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: darkslategray;
  height: 100svh;
  margin: 0;
  gap: 8px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 3px;
  box-sizing: content-box;
  border: 0.5px solid white;
  width: 800px;
  height: 800px;
}

.grid-item {
  margin: 0;
  padding: 0;
  border: 0.5px solid black;
  box-sizing: border-box;
  user-select: none;
}

button {
  background: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 3px;
  margin: 2px;
  height: 3rem;
  width: 3rem;
  color: darkslategray;
  font-size: 2rem;
  text-align: center;
  box-shadow: 0 6px pink;
}

button:hover {
  cursor: pointer;
  background-color: rgb(255, 233, 233);
}

button:active {
  box-shadow: none;
  transform: translateY(6px);
}

button > * {
  pointer-events: none;
}

#grid-size-text {
  color: white;
  font-family: Roboto;
}
