* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: darkslategray;
  height: 100svh;
  margin: 0;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 3px;
}

.grid-item {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  box-sizing: border-box;
}
